.cake-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.ui.card:first-child {
  margin-top: .5em;
}

.ui.card:last-child {
  margin-bottom: .5em;
}

.ui.card {
  margin: .5em;
}

.cake-list-header {
  margin: 1em 0 !important;
}